* {
    margin: 0;
    font-family: sans-serif;
}

.nav1 {
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    div {
        display: flex;
        gap: 30px;
        align-items: center;

        h2 {
            font-weight: 400;
        }
    }

    button {
        width: 196px;
        height: 58px;
        gap: 10px;
        border-radius: 10px;
        color: white;
        font-size: 25px;
        font-weight: 600;
        border: none;
        background: #608AF5;
    }
}

.h11 {
    font-weight: 700;
}

.tel1 {
    display: none;
}

.box1 {
    color: #14456a;

    .pp2 {
        font-size: 50px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 60px;
    }

    .pp3 {
        line-height: 30px;
        font-size: 23px;
        color: black;
    }
}

.pp1 {
    font-size: 40px;
}

.ddr1 {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}

.box2 {
    width: 327px;
    height: 270px;
    border-radius: 13px;
    box-shadow: 0px 3px 10px gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .pp4 {
        font-size: 25px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pp5 {
        font-size: 18px;
    }
}

.box3 {
    max-width: 1150px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    display: flex;
}

.box5 {
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
}

.veb {

    .box11 {
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
    }

    .img1 {
        position: relative;
        top: -30px;
        left: -135px;
        background-color: #608AF5;
    }
    .img2 {
        position: relative;
        top: -50px;
        left: -135px;
    }
}


@media(max-width:600px) {
    .box11{
        flex-direction: column;
        margin: auto;
        img{
            margin-top: 30px;
        }
    }
    .box3 {
        flex-direction: column;
    }

    .box2 {
        margin-top: 30px;
    }

    .veb {
        display: none;
    }


    .ddr1 {
        flex-direction: column-reverse;
        margin-top: 40px;

        .pp1 {
            font-size: 30px;
            margin-top: 20px;
        }

        .pp2 {
            font-size: 30px;
            line-height: 35px;
            margin-top: 10px;
        }

        .pp3 {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .nav1 {
        display: none;
    }

    .tel1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }
}